<link rel="stylesheet" href="../styles/home.css">

<style>
.hidden { 
  font-size: 0; 


}

body {
  
  background-image: url("https://thumbs.dreamstime.com/b/business-travel-traveling-map-world-concept-passport-holidays-visa-tourism-booking-sunglasses-plan-tourist-trip-glasses-summer-80220912.jpg")
  background-size: cover;
  /*background-color: pink;*/
  font-family: 'Raleway', sans-serif;


}
nav {
  display: none;
}

</style>
<body>
  
  <div class="row">
        <div class="col s12 m8 offset-m2">
        <h1>Travel Swapper</h1>
          <div class="image">
        <h3>Where travelers come to swap their extra gear. <br>
          <h4>Need camping gear? Getting rid of your French dictionary? Let us help you!
          </h4>
        </h3>
      </div>
         <div class="container">
              </div>
                               <form action="/profile/search" method="POST" id="zipcode_id">
               <input class="input" type ="text" name="zipcode" placeholder="Enter your current zipcode">
               <button type="submit" class="btn btn-primary home-button">Submit</button>
          </div>
  </div>

</body>